{% extends 'base.html' %}

{% block content %}
<html>
<head>
<p class="p1"><span class="s3"><a href="{% url 'index' %}">Home</a></span><span class="s1"></span></p>
	<title>Sign Up</title>
	<style>
		html, body {
			height: 100%;
		}
		body {
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
		}
	</style>
</head>
<body> {% if user.is_authenticated %} Hi </span><span class="s2">{{ user.username }}</span><span class="s1">! You are an Instructor for Class: {{class1}}
<p class="p1"><span class="s3"><a href="{% url 'login' %}">Log In</a></span><span class="s1"></span></p>
<p class="p1"><span class="s3"><a href="{% url 'new' %}">Sign Up</a></span><span class="s1"> 
{% else %}<span class="Apple-converted-space"> </span></span></p></div>
<p class="p2"><span class="s1"></span><br></p>
<p class="p3"><span class="s1">You are not logged in</span></p>
<p class="p1"><span class="s3"><a href="{% url 'login' %}">Log In</a></span><span class="s1"></span></p>
<p class="p1"><span class="s3"><a href="{% url 'new' %}">Sign Up</a></span><span class="s1"> 

{% endif %} {% endblock %}</span></p>
</center>
</body>
</html>