{% extends 'base.html' %}

{% block content %}

<p class="p1"><span class="s3"><a href="{% url 'index' %}">Home</a></span><span class="s1"></span></p><p class="p1"><span class="s3"><a href="{% url 'login' %}">Log In</a></span><span class="s1"></span></p>
  <h1>List of Courses</h1>
  <table class="table">
    <thead>
      <tr>
        <th>Course Name</th>
	<th>Instructor</th>
	<th>Course Id</th>
        <th>Day of Week</th>
	<th>Students</th>
        <th>Start Time</th>
        <th>End Time</th>
        <th>Meeting Days</th>
      </tr>
    </thead>
    <tbody>
      {% for course in courses %}
        <tr>
          <td>{{ course.coursename }}</td>
          <td>{{ course.instructor }}</td>
	  <td>{{ course.course_id }}</td>
	  <td>{{ course.day_of_week }}</td>
	  <td>{{ course.students }}</td>
          <td>{{ course.class_start_time|time:"H:i A" }}</td>
          <td>{{ course.class_end_time|time:"H:i A" }}</td>
          <td>{{ course.meeting_days }}</td>
          <td><a href="{% url 'join' %}?course_id={{ course.course_id }}">Join</a></td>
          <td><a href="{% url 'attendance' %}?course_id={{ course.course_id }}">Attendance</a></td>
          <td><a href="{% url 'upload' %}?course_id={{ course.course_id }}">Upload</a></td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
  <p><a href="{% url 'login' %}">Log In</a></p>
  <p><a href="{% url 'new' %}">Sign Up</a></p>
  <p><a href="{% url 'index' %}">Home</a></p>
  <style>
    table.table {
      border-collapse: collapse;
      width: 100%;
      margin-bottom: 1rem;
      background-color: #fff;
      color: #000;
      box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    }

    table.table th,
    table.table td {
      padding: 1rem;
      text-align: left;
      border-bottom: 1px solid #dee2e6;
    }

    table.table th {
      background-color: #f8f9fa;
      font-weight: 700;
    }

    table.table tbody tr:nth-of-type(even) {
      background-color: #f6f8fa;
    }
  </style>
{% endblock %}