{% extends 'base.html' %}

{% block content %}
<html>
<head>
<p class="p1"><span class="s3"><a href="{% url 'index' %}">Home</a></span><span class="s1"></span></p><p class="p1"><span class="s3"><a href="{% url 'login' %}">Log In</a></span><span class="s1"></span></p>
Hi </span><span class="s2">{{ user.username }}</span><span class="s1">! You are an Instructor for Class: {{class1}}
	<title>Sign Up</title>
	<style>
		html, body {
			height: 100%;
		}
		body {
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
		}
	</style>
</head>
<body>

  <h1>Create Course</h1>
  <form method="post">
    {% csrf_token %}
	{{ form.as_p }}

    <input type="submit" value="Create">
  </form>
</body>
</html>
{% endblock %}