<center><div style="font-size: 16px;">
    {% extends 'base.html' %}
    {% block title %}Home{% endblock %}
    {% block content %}
    <title>Home</title>
    <style>
        html, body {
            height: 100%;
        }
        body {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
    </style>
    <body>
        {% if user.is_authenticated %}
          <p class="p1">
            <span class="s3">Hi </span>
            <span class="s3">{{ user.username }}</span>
            <span class="s3">! My name is Ashanah Gayden, I’m a third year student majoring in Anthropology and Data Science and I’m excited to start this class. Hi, I’m Sean. I’m a second year majoring in Economics and Data Science. I’m looking forward to attending more lectures! Class: {{class1}}</span>
          </p>
          <p class="p1">
            <span class="s3"><a href="{% url 'course_list' %}">Course List</a></span>
            <span class="s1"></span>
          </p>
          <p class="p1">
            <span class="s3"><a href="{% url 'create' %}"> Instructor: Create</a></span>
            <span class="s1"></span>
          </p>
        {% else %}
          <p class="p3"><span class="s1">You are not logged in</span></p>
          <p class="p1">
            <span class="s3"><a href="{% url 'login' %}">Log In</a></span>
            <span class="s1"></span>
          </p>
          <p class="p1">
            <span class="s3"><a href="{% url 'new' %}">Sign Up</a></span>
            <span class="s1"></span>
          </p>
        {% endif %}
    {% endblock %}
    </body>
</div></center>