{% extends 'base.html' %}

{% block content %}
<html>
<head>
<p class="p1"><span class="s3"><a href="{% url 'index' %}">Home</a></span><span class="s1"></span></p>
	<title>Join</title>
	<style>
		html, body {
			height: 100%;
		}
		body {
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
		}
	</style>
</head>
<body> 
<h1>{{ course.name }}</h1>
<p>{{ course.number }}</p>
<form method="post">
  {% csrf_token %}
  <button type="submit" class="btn btn-primary">Join</button>
</form>

{% endblock %}</span></p>
</center>
</body>
</html>