{% extends 'base.html' %}

{% block content %}
	<h1>Course Name: {{ coursename }} {{ course_id }}</h1>
	<p>Number of Students in Class: {{ total_students }}</p>
	<p>Number of students with uploaded images: {{ total_qr_codes }} / {{ total_students }}</p>
	{% for Addqrcode in Addqrcodes %}
	<p>Number of students with uploaded images at {{ addqrcode.time }}: {{ addqrcode.time }} / {{ total_students }} </p>
	{% endfor %}
	<p>TRY: </p>  
    <table>
      <thead>
        <tr>
          <th> QR ID </th>
	  <th> Class Code </th>
          <th> Instructor </th>
          <th> Upload Time </th>
        </tr>
      </thead>
      <tbody>
        {% for Attendance in Attendances %}
        <tr>
          <td>{{ Attendance.qrid }}</td>
          <td>{{ Attendance.class_code }}</td>
          <td>{{ Attendance.userid }}</td>
	  <td>{{ Attendance.time|date:"F d, Y" }}</td>
        </tr>
        {% empty %}
        <tr>
          <td colspan="3">No QR codes found.</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    <table>
      <thead>
        <tr>
          <th> QR ID </th>
	  <th> Class Code </th>
          <th> Student </th>
          <th> Upload Time </th>
        </tr>
      </thead>
      <tbody>
        {% for Addqrcode in Addqrcodes %}
        <tr>
          <td>{{ Addqrcode.course_id.course_id }}</td>
          <td>{{ Addqrcode.class_code.class_code }}</td>
          <td>{{ Addqrcode.user }}</td>
	  <td>{{ Addqrcode.time}}</td>
        </tr>
        {% empty %}
        <tr>
          <td colspan="3">No QR codes found.</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
	<p class="p1"><span class="s3"><a href="{% url 'index' %}">Home</a></span><span class="s1"></span></p>
	<p class="p1"><span class="s3"><a href="{% url 'course_list' %}">Course List</a></span><span class="s1"></span></p>
{% endblock %}
