

{% extends 'base.html' %}

{% block content %}
	<h1>Course Name: {{ coursename }} {{ course_id }}</h1>
	<p>Number of Students in Class: {{ total_students }}</p>
	{% for time in addqrCode %}
	<p>Number of students with uploaded images: {{ uploaded_images }} / {{ total_qr_codes }}</p>
	{% endfor %}
	{% for time, uploaded_images in addqrCode.items %}
	<p>Number of students with uploaded images at {{ time }}: {{ uploaded_images }} / 		{{ total_students }}</p>
	{% endfor %}
	<p class="p1"><span class="s3"><a href="{% url 'index' %}">Home</a></span><span class="s1"></span></p>
	<p class="p1"><span class="s3"><a href="{% url 'course_list' %}">Course List</a></span><span class="s1"></span></p>
{% endblock %}



