{% extends 'base.html' %}

{% block content %}
	<h1>Course Name: {{ coursename }} {{ course_id }}</h1>
	<p>Number of Students in Class: {{ total_students }}</p>
	<p>Number of students with uploaded images: {{ total_qr_codes }} / {{ total_students }}</p>
	{% for Addqrcode in Addqrcodes %}
	<p>Number of students with uploaded images at {{ addqrcode.time }}: {{ addqrcode.time }} / {{ total_students }}</p>
	{% endfor %}
	<p>TRY: </p>    
	{% for attendance in Attendances %}
		<li> {{ Attendance.class_code }} {{ Attendance.userid }} {{ Attendance.time|date:"F d, Y" }}</li>
	{% endfor %}
	<p class="p1"><span class="s3"><a href="{% url 'index' %}">Home</a></span><span class="s1"></span></p>
	<p class="p1"><span class="s3"><a href="{% url 'course_list' %}">Course List</a></span><span class="s1"></span></p>
{% endblock %}
